{% include 'nav.html' %}
<div class="main">
{% block content %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
	        <div class="alert alert-success alert-dismissable animated fadeIn">
	            {% for message in messages %}
	            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	            <p class="h4"><strong>{{ message }}</strong></p>
	            {% endfor %}
	        </div>
	{% endif %}	    
{% endwith %}
{% if 'username' in session %}
<button type="button" class="btn btn-warning" style="margin: 5px 0px 5px 25px;"><a href="{{url_for('addFrDetails',tbname=vhbp.name)}}" style="text-decoration: none;"><strong>Add New Furniture</strong></a></button>

{% endif %}
<div class="row" style="margin: 10px;">
{% for tbe in sk %}

	<div class="col-sm-4 text-center">
		<div class="panel panel-primary">
			<div class="panel-heading" style="background-color:#F4A460">
				<h4>{{ tbe.name }}</h4>
			</div>
			<div class="panel-body text-center">
				<table>
					<tr><th>MODEL</th><td>:</td><td><h5>{{ tbe.model }}</h5></td></tr>
					<tr><th>DESCRIPTION</th><td>:</td><td><h5>{{ tbe.description }}</h5></td></tr>
					<tr><th>COLOR</th><td>:</td><td><h5>{{ tbe.color }}</h5></td></tr>
					<tr><th>PRICE</th><td>:</td><td><h5>{{ tbe.price }}</h5></td></tr>
				</table>
			</div>
			{% if 'username' in session %}
			<div class="panel-footer">
					<button type="button" class="btn btn-info"><a href="{{ url_for('editFurniture',gptid=vhbp.id,gptename=tbe.name) }}"style="text-decoration: none;color:white;">EDIT</a></button>
					<button type="button" class="btn btn-danger"><a href="{{ url_for('deleteFurniture',gptid=vhbp.id,gptename=tbe.name)}}"style="text-decoration: none;color:white;">DELETE</a></button>
			</div>
			{% endif %}	
			
		</div>
		<p style="font-style:italic;font-size:20px;color:#FF0000;">This is about {{ tbe.name}} furniture details</p>
	</div>
{% endfor %}
</div>
{% endblock content %}
</div>